{
  "google_credentials_file": "credentials.json",
  "spreadsheet_id": "YOUR_SPREADSHEET_ID_HERE",
  "sheet_name": "7. Raw",
  "stock_symbols": [
    "SGOV",
    "SPY",
    "QQQ",
    "TSLA",
    "NVDA",
    "SMH",
    "SMCI",
    "GOOG",
    "META",
    "AAPL",
    "AMZN",
    "MSFT",
    "CRWD",
    "LLY",
    "CPNG",
    "IONQ",
    "QBTS",
    "RGTI",
    "CRWV",
    "QUBT",
    "PLTR",
    "SOUN",
    "BOTZ"
  ]
}
